@import "tailwindcss";

html,body{
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    color: white;
}

.TaskCard::-webkit-scrollbar{
    display: none;
}

.AllTaskAdmin::-webkit-scrollbar{
    display: none;
}